@import url("../css/components/header.css");
@import url("../css/components/composition.css");
@import url("../css/components/reviews.css");
@import url("../css/components/promo.css");
@import url("../css/components/order.css");

body {
   box-sizing: border-box;
   font-family: 'PT Sans Caption', sans-serif;
   height: 600vh;
   margin: 0px;
   padding: 0px;
   background-color: rgba(230, 230, 230, 0.767);
}

section {
   height: 700px /* 100vh */;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 70px;
   
}

.content {
   display: flex;
   max-width: 1170px;
   width: 100%;
   justify-content: center;
}

.button {
   width: 250px;
   height: 40px;
   border: 0.1px solid purple;
   border-radius: 50px;
   font-family: 'PT Sans Caption', sans-serif;
   font-size: 17px;
   font-weight: 700;
   color: #FFD800;
   background-color: purple;
}





