@import url("../css/components/header.css");
@import url("../css/components/composition.css");
@import url("../css/components/reviews.css");
@import url("../css/components/promo.css");
@import url("../css/components/order.css");

body {
   box-sizing: border-box;
   font-family: 'PT Sans Caption', sans-serif;
   height: 100%;
   margin: 0px;
   padding: 0px;
   background-color: rgba(230, 230, 230, 0.767);
}

section {
   height: 700px;
   max-width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 70px;
}

.content {
   display: flex;
   justify-content: center;
}

.button {
   width: 250px;
   height: 40px;
   border: 1px solid purple;
   border-radius: 50px;
   font-family: 'PT Sans Caption', sans-serif;
   font-size: 17px;
   font-weight: 700;
   color: #FFD800;
   background-color: purple;
}

a {
   text-decoration: none;
   color: #FFD800;
}

a:hover {
   text-decoration: none;
   color: #ffd900b9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}








