.composition-line {
   position: absolute;
   margin-top: 280px;
   height: 35px;
   width: 100%;
   z-index: 1;
   background-color: #FFD800;
   border-radius: 5%;
}

.composition__content {
   justify-content: space-around;
   z-index: 2;
   position: relative;
} 

.left {
   margin-left: 55px;
}

.right {
   margin-right: 55px;
}

.left .column-item:nth-child(2) {
   margin-right: 150px !important;
}

.right .column-item:nth-child(2) {
   margin-left: 150px !important;
}

.column-item-pic {
   display: block;
   width: 150px;
   height: 150px;
   border-radius: 100%;
   margin: auto;
}

.column-item-text {
   font-size: 14px;
   margin: 15px 0px 45px 0px;
   text-align: center;
}

.content__column-pic {
   margin: 80px 0px 35px 0;
}

.content__column-pic img {
   display: block;
   width: 220px;
   height: 380px;
   margin: 0 auto;
}

.composition__button .button {
   margin: auto;
}