.promo__content {
   display: inline-block !important;
}

.promo__main {
   display: flex;
}

.main-pic img {
   margin-left: 55px;
}

.main-description {
   width: 500px;
   text-align: justify;
   margin: auto;
   line-height: 25px;
}

.description-text p {
   margin-bottom: 50px;
   font-size: 17px;
}

.promo__text ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 70px;
   padding: 0px;
}

.promo__text li {
   display: inline-block;
   font-size: 25px;
   color: purple;
}

.description-button .button {
   display: block;
   margin: auto;
}

